* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-image: url('./Assets/nightSky2.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 800px;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather {
    display: flex;
    align-items: center;
}

.temp {
    font-size: 1.5rem;
}

.weather>div {
    color: whitesmoke;
    margin: 0.75rem;
}

.weather p {
    font-size: 3rem;
}

.weather span {
    color: white;
    font-size: 1.5rem;
}

.weather-cond img {
    width: 2.25rem;
}

nav {
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 50vw;
    border: none;
    outline: none;
    font-size: 1.25rem;
    background-color: transparent;
    color: white;
    border-bottom: 3px solid white;
    padding: 1rem 0;
}

nav button {
    background-color: orangered;
    color: white;
    font-size: 1.25rem;
    border: none;
    padding: 1rem 2rem;
    margin-left: 1rem;
    cursor: pointer;
}